@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --navbarSignInButtonHover: #ffdbd2;
    --navbarShadowBgColor: rgb(216, 216, 216);
    --joinNowButtonHover: rgb(82, 82, 82);
    --slideOneBgColor: #daede7;
    --slideOneButtonHover: #c6dcd5;
    --slideOneColor: #1d281c;
    --otherSlidesBgColor: rgb(0, 98, 64);
    --otherSlidesButtonHover: rgb(2, 130, 85);
    --sidepanelLinksColor: rgb(46, 46, 46);
    --sidepanelLinksHoverColor: rgb(124, 124, 124);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0px 2px 2px var(--navbarShadowBgColor);
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
#logo {
    width: 50px;
    height: 50px;
}
.menu-icon {
    color: var(--sidepanelLinksColor);
}
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    white-space: nowrap;
    background-color: white;
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--sidepanelLinksColor);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.sidepanel a:hover {
    color: var(--sidepanelLinksHoverColor);
}
.sidepanel > .closeButton {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 1rem;
}
.sidepanel-buttons {
    text-align: center;
    white-space: nowrap;
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 8px 8px 32px;
}
.openButton {
    font-size: 20px;
    cursor: pointer;
    border: none;
    top: 2vh;
    right: 2vw;
    background-color: inherit;
    font-weight: 600;
    text-transform: uppercase;
}
#signin-button, #joinnow-button {
    border-style: none;
    border: 1px solid black;
    border-radius: 10000px;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}
#signin-button {
    color: black;
    background-color: inherit;
}
#signin-button:hover {
    background-color: var(--navbarSignInButtonHover);
}
#joinnow-button {
    background-color: black;
    color: white;
}
#joinnow-button:hover {
    background-color: var(--joinNowButtonHover);
    border: 1px solid var(--joinNowButtonHover);
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: var(--slideOneBgColor);
    margin-top: 30px;
}
.slide > img {
    width: 50vw;
}
.slide-content {
    color: var(--slideOneColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin: auto;
    gap: 30px;
    padding: 20px;
}
.slide-content > h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}
.slide-content > p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.slide-content > button {
    border-style: none;
    border: 1px solid black;
    color: black;
    border-radius: 10000px;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: inherit;
}
.slide-2, .slide-4 {
    flex-direction: row-reverse;
}

.slide-2, .slide-3, .slide-4, .slide-5 {
    background-color: var(--otherSlidesBgColor);
}
.slide-2-content, .slide-3-content, .slide-4-content, .slide-5-content {
    color: white;
}
.slide-1-content > p, .slide-2-content > p, .slide-3-content > p, .slide-4-content > p, .slide-5-content > p {
    line-height: 1.6;
    font-size: 1.4rem;
}
.slide-2-content > button, .slide-3-content > button, .slide-4-content > button, .slide-5-content > button {
    border: 1px solid white;
    color: white;
}
.slide-2-content > h3, .slide-3-content > h3, .slide-4-content > h3, .slide-5-content > h3 {
    font-size: 3.5rem;
}
.slide-1-content > button:hover {
    background-color: var(--slideOneButtonHover);
    cursor: pointer;
}
.slide-2-content > button:hover, .slide-3-content > button:hover, .slide-4-content > button:hover, .slide-5-content > button:hover {
    background-color: var(--otherSlidesButtonHover);
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 90vw;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
}
.footer-content > ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    max-width: 15vw;
}
.footer-content > ul > li > a {
    text-decoration: none;
    text-transform: capitalize;
}
.footer-list-header > a {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
}
.footer-list-items > a{
    color: grey;
}


@media only screen and (max-width: 1300px) {
    .slide-2-content > h3, .slide-3-content > h3, .slide-4-content > h3, .slide-5-content > h3 {
        font-size: 2.5rem;
    }
    .slide-content > p {
        font-size: 1.1rem;
        text-align: center;
    }
}
@media only screen and (max-width: 1100px) {
    .slide-2-content > h3, .slide-3-content > h3, .slide-4-content > h3, .slide-5-content > h3 {
        font-size: 2rem;
    }
    .slide-content > p {
        font-size: 1rem;
        text-align: center;
    }
}
@media only screen and (max-width: 950px) {
    .slide > img {
        width: 100vw;
    }
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .slide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
}

